/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

/* import tailwind configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styling */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  list-style-type: none;
  cursor: pointer;
}

.max-width{
  @apply px-7 lg:max-w-5xl lg:mx-auto xl:max-w-6xl 2xl:px-0;
}

.btn-cta{
  @apply bg-[#4ecccb] text-white rounded-full px-6 py-1 
}

.boost{
  height: 12rem;
  background-color:hsl(257, 27%, 26%);
}

.boost img{
  height: 12rem; 
  width: 100%;
}

.boost .boost-inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}